.repeat-item.ng-enter {
    animation-name: lap;
    animation-duration: 2s;
}


@keyframes lap {
    0% {
        background-color: #FF0000;/*#b8d1f3;*/
    }
    100% {
        background-color: #FFFFFF;
    }
}

tr.regular td {
    background-color: #ffffff;
}

tr.bestlaps td {
    background-color: #C1E1A6;
}

tr.bestminutes td {
    background-color: #eed5b7;
}

tr.fastlap td {
    background-color: #FF0000;
}

tr.break td {
    background-color: #81898C;
}
